/* Customized Algolia DocSearch */

.ds-dataset-1 {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@media (min-width: 1280px) {
  .ds-dataset-1 {
    width: 650px
  }
}


@media (max-width: 600px) {
  .ds-dataset-1 {
    width: 300px;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
  }
}

