.links,
.codeAsLink {
  color: var(--color-link);
}

.codeAsLink {
  cursor: pointer;
  text-decoration: underline;
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  color: var(--color-link) !important;
}

.buttonsGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--space-5);
  margin: 0 auto;
}

.button,
.primaryButton,
.pinkButton,
.darkButton {
  border-radius: var(--radius-sm);
  transition: var(--transition);
  cursor: pointer;
  color: white;
  font-size: var(--text-base);
  font-weight: 400;
  margin: var(--space-5) 0;
  -webkit-appearance: none;
  line-height: 1;
  display: inline-block;
  padding: var(--space-4) var(--space-3);
}

.primaryButton {
  box-sizing: border-box;
  background: var(--color-primary);
  border: 1px solid var(--color-border);
}

a.primaryButton {
  text-decoration: none;
}

a.primaryButton:hover {
  color: white;
}

.pinkButton,
.darkButton {
  background: var(--color-light-pink);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: 1px solid var(--color-light-pink);
  width: 100%;
}

.pinkButton:hover {
  background: var(--color-secondary);
}

.darkButton {
  background: var(--color-primary);
  color: white;
  border: 1px solid var(--color-border);
}

.darkButton:hover {
  background: var(--color-blue);
  border: 1px solid var(--color-secondary);
}

.darkButton:active {
  background: var(--color-primary);
}

@keyframes moving {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(5px);
  }
}

.primaryButton:hover > span {
  display: inline-block;
  animation: moving 0.4s linear infinite;
  animation-direction: alternate;
}

.primaryButton:active {
  background: black;
}

.primaryButton:hover {
  border: 1px solid var(--color-secondary);
  box-shadow: 0 0 5px #000;
}

@media (min-width: 768px) {
  .primaryButton {
    font-size: var(--text-lg);
    font-weight: 400;
    margin: var(--space-9) 0;
    padding: var(--space-4) var(--space-7);
  }

  .buttonsGroup {
    grid-column-gap: var(--space-7);
  }
}
