.table {
  border-collapse: collapse;
  width: 100%;
}

.table td {
  padding: 6px 15px 6px 0;
  line-height: 1.4;
}

.table td > h5:first-child,
.table td > p:first-child,
.table td > ul:first-child,
.table td > ul li:first-child > p {
  margin-top: 0 !important;
}

.table td:last-child {
  padding-right: 0;
}

.tableWrapper {
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  overflow-x: auto;
}

@media (min-width: 768px) {
  .mobileTypeText {
    margin-top: 0px;
    display: inline;
  }

  .tableWrapper::-webkit-scrollbar {
    height: 8px;
  }

  .tableWrapper::-webkit-scrollbar-track {
    background: var(--color-button-blue);
    border-radius: 10px;
  }

  .tableWrapper::-webkit-scrollbar-thumb {
    background: var(--color-medium-blue);
    border-radius: 10px;
  }

  .tableWrapper::-webkit-scrollbar-thumb:hover {
    background: var(--color-light-pink);
  }
}
