.heading,
.headingWithTopMargin {
  text-align: center;
  margin-bottom: 10px;
}

.subHeading {
  font-size: 13px;
  padding: 0 20px;
  text-align: center;
  color: var(--color-light-pink);
  max-width: 330px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-weight: 400;
  font-size: 1.1rem;
  overflow: hidden;
  position: relative;
  line-height: 2;
  margin: 10px auto 20px;
  max-width: 600px;
}

.title:before,
.title:after {
  background-color: var(--color-light-blue);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.title:before {
  right: 0.5em;
  margin-left: -50%;
}

.title:after {
  left: 0.5em;
  margin-right: -50%;
}

.codeHeading > h2:before {
  display: inline-block;
  content: "</> ";
}

.h5 .videoLink,
.codeHeading .videoLink {
  text-decoration: none;
  font-size: 14px;
  margin-bottom: -5px;
  margin-left: 15px;
  background: none;
  color: white;
  text-transform: uppercase;
  border: 1px solid var(--color-secondary);
  padding: 5px 10px;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.h1 {
  font-size: 24px;
  display: inline-block;
  margin: 40px auto;
  font-weight: 400;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--color-secondary);
}

.h5 {
  font-size: 18px;
  text-align: left;
  font-weight: 500;
  padding-bottom: 15px;
  margin: 50px 0 10px;
  border-bottom: 1px solid var(--color-light-blue);
}

.h5 > code {
  font-size: 18px !important;
}

.typeText {
  font-weight: 400;
  font-size: 14px;
  font-family: monospace;
  color: var(--color-light-pink) !important;
}

.note {
  color: var(--color-light-pink);
}

.codeBlock {
  display: block;
  padding: 10px;
}

.error {
  font-size: 12px;
  color: var(--color-light-pink);
}

@media (min-width: 768px) {
  .h1 {
    font-size: 36px;
  }

  .heading,
  .headingWithTopMargin {
    font-size: 55px !important;
    margin: 80px auto 10px;
  }

  .subHeading {
    font-size: 16px;
    margin-bottom: 20px;
    max-width: 575px;
  }

  .title {
    margin-top: 20px;
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .headingWithTopMargin {
    margin-top: 70px;
  }

  .questionTitle {
    padding-left: 10px;
    border-left: 5px solid var(--color-light-pink);
    line-height: 1;
  }
}

@media (min-width: 1024px) {
  .heading,
  .headingWithTopMargin {
    margin-top: 20px;
  }

  .headingWithTopMargin {
    margin-top: 70px;
  }
}
