.root {
  max-width: 768px;
  margin: var(--space-12) auto 0;
}

@media (min-width: 768px) {
  .root {
    max-width: 840px;
  }
}

.gallery {
  display: grid;
  list-style: none;
  margin: var(--space-5);
  grid-gap: 25px;
  grid-template-columns: 1fr;
  padding: 0;
}

@media (min-width: 768px) {
  .gallery {
    margin: var(--space-12) auto;
    padding: 0 var(--space-5);
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .gallery {
    max-width: 1024px;
  }
}

.gallery li {
  border: 1px solid var(--color-border);
  position: relative;
  padding-bottom: var(--space-7);
  transition: transform var(--transition);
  border-radius: var(--radius-md);
  overflow: hidden;
}

.gallery li:hover {
  border: 1px solid var(--color-secondary);
  outline-width: 0;
  box-shadow: 2px 2px 0 4px #000;
  transform: translate(-2px, -2px);
}

.gallery li a {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: var(--space-3) var(--space-5) var(--space-3) var(--space-16);
  font-size: var(--text-sm);
}

.gallery h3 {
  color: white;
  margin: 0;
  font-weight: normal;
  padding: var(--space-3) var(--space-5);
  font-size: 18px;
  background: var(--color-surface);
  border-bottom: 1px solid var(--color-border);
  letter-spacing: 1px;
}

.gallery h3 code {
  margin-right: var(--space-1);
  letter-spacing: -1px;
  color: var(--color-light-pink);
}

.gallery p {
  margin: var(--space-5);
  font-size: var(--text-sm);
}

.versionControl {
  text-align: right;
  padding-right: var(--space-5);
}

.versionControl > div {
  display: inline-block;
}

.versionControl > p {
  font-size: var(--text-sm);
  color: var(--color-light-grey);
  display: inline-block;
  margin-right: var(--space-5);
}

p.beta {
  margin-bottom: -1rem;
  font-size: var(--text-xs);
  color: var(--color-light-grey);
}
