.mobileTypeText {
  font-weight: 400;
  font-size: var(--text-base);
  font-family: var(--font-mono);
  font-variant-ligatures: none;
  color: var(--color-light-pink);
  margin-top: var(--space-2);
  display: block;
}

.quickSelect {
  position: relative;
  max-width: 320px;
  margin: 0 auto;
}

.quickSelect:after {
  content: "▼";
  font-size: var(--text-base);
  right: 17%;
  top: 12px;
  position: absolute;
  pointer-events: none;
}

.quickSelect > select {
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-border);
  appearance: none;
  background: none;
  color: white;
  margin: 0.67em auto var(--space-5);
  display: block;
  text-align: center;
  text-align-last: center;
  font-size: 2rem;
  font-weight: lighter;
  position: relative;
  padding: var(--space-2) var(--space-7);
  max-width: 240px;
}

.versionToggle {
  position: absolute;
  right: var(--space-5);
}

@media (min-width: 768px) {
  .hiddenMenu > h1 {
    display: block;
  }

  .hiddenMenu > div {
    display: none;
  }
}
