.fieldset {
  padding: 10px 15px;
  border: 1px solid var(--color-light-blue);
  border-radius: 4px;
}

.fieldset > legend {
  padding: 0 10px;
}

.fieldset > label {
  padding-bottom: 15px;
  display: block;
  cursor: pointer;
}

.fieldset > label:nth-child(2) {
  padding-top: 10px;
}

.fieldset > label > input {
  margin-right: 10px;
  top: -2px;
  position: relative;
}
