.root {
  background: #0f111b;
  border-top: 1px solid #1e2a4a;
  border-bottom: 1px solid #1e2a4a;
  padding: 20px;
}

.logo {
  height: 25px;
  width: 100px;
}

.container {
  max-width: 910px;
  margin: 40px auto 20px;
  display: flex;
  padding: 0 20px;
  flex-direction: column;
}

.container > div {
  flex: 1;
}

.container a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
}

.heading {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 600;
  margin-top: 20px;
}

.features {
  margin-top: 30px;
}

.product {
  position: relative;
}

.productImg {
  background: url("https://www.beekai.com/marketing/features/form/form-builder-hero.png")
    no-repeat;
  border-radius: 10px;
  display: block;
  background-size: 800px;
  background-position-x: -40px;
  max-height: 550px;
  min-height: 200px;
  z-index: 1;
  position: relative;
}

.product::after {
  content: "";
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  filter: blur(3rem);
  transform: scale(0.96);
  background-image: linear-gradient(230deg, #b367fe, #ec5990, #bf1650);
  opacity: 1;
  transition: 0.3s;
  animation: scale 3s alternate-reverse ease infinite;
}

.content {
  z-index: 1;
}

@keyframes scale {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(0.88);
  }
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    gap: 40px;
  }

  .heading {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 0;
  }

  .productImg {
    background-size: 700px;
    height: 100%;
    background-position-x: -35px;
  }
}
