.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 4;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-column-gap: 60px;
  overflow: hidden;
  margin-bottom: 100px;
  padding: 0 20px 100px 20px;
}

.wrapper > section:first-child {
  margin-top: 50px;
  order: 3;
}

.wrapper > form:nth-child(2) {
  order: 1;
}

.wrapper > section:nth-child(3) {
  order: 2;
}

.form select,
.form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  padding: 6px 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.form select:hover,
.form input:hover {
  border: 1px solid var(--color-light-pink);
}

.form select:not([multiple]) {
  height: 40px;
}

.form input.form-error {
  border: 1px solid #bf1650;
}

.form input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}

.form label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
}

.form fieldset {
  border: 1px solid var(--color-light-blue);
  border-radius: 4px;
}

.closeButton {
  font-size: 25px;
  position: absolute;
  cursor: pointer;
  z-index: 5;
  border-radius: 8px;
  color: white;
  top: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  background: var(--color-primary);
  border: 1px solid white;
}

.closeButton:hover {
  border: 1px solid var(--color-secondary);
}

@media (min-width: 768px) {
  .wrapper > section:first-child {
    margin-top: 0;
    order: 1;
  }

  .wrapper > form:nth-child(2) {
    order: 2;
  }

  .wrapper > section:nth-child(3) {
    order: 3;
  }

  .closeButton {
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
