.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 11;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.pageWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-column-gap: 60px;
  overflow: hidden;
  max-width: 2000px;
  margin: 0 auto 20px;
  padding: 0 20px 20px 20px;
}

.pageWrapper > section:first-child {
  margin-top: 50px;
  order: 3;
}

.pageWrapper > form:nth-child(2) {
  order: 1;
}

.pageWrapper > section:nth-child(3) {
  order: 2;
}

.form select,
.form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  padding: 6px 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.form select:hover,
.form input:hover {
  border: 1px solid var(--color-light-pink);
}

.form select:not([multiple]) {
  height: 40px;
}

.form input.form-error {
  border: 1px solid #bf1650;
}

.form input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}

.form label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
}

.form fieldset {
  border: 1px solid var(--color-light-blue);
  border-radius: 4px;
}

.closeButton {
  font-size: 25px;
  position: absolute;
  cursor: pointer;
  z-index: 5;
  border-radius: 4px;
  color: white;
  top: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  background: var(--color-primary);
  border: 1px solid white;
}

.closeButton:hover {
  border: 1px solid var(--color-secondary);
}

@media (min-width: 768px) {
  .pageWrapper > section:first-child {
    margin-top: 0;
    order: 1;
  }

  .pageWrapper > form:nth-child(2) {
    order: 2;
  }

  .pageWrapper > section:nth-child(3) {
    order: 3;
  }

  .closeButton {
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

.buttonWrapper {
  display: flex;
  position: absolute;
  top: 10px;
  right: 5px;
}

.button {
  border: none;
  color: white;
  border-radius: 0;
  font-size: 13px;
  padding: 0 10px;
  right: 20px;
  z-index: 1;
  top: 10px;
  display: none;
  cursor: pointer;
  text-transform: uppercase;
  height: 34px;
  align-items: center;
  margin: 0 3px;
}

.button:hover {
  background: var(--color-secondary);
  color: white;
}

@media (min-width: 768px) {
  .button {
    display: flex;
  }
}

.copyButton {
  background: var(--color-light-blue);
  border: 1px solid transparent;
}

.active,
.copyButton:hover {
  background: none;
  border: 1px solid var(--color-secondary);
  color: white;
}

.active,
.copyButton:hover span {
  background: var(--color-primary);
}

.wrapper pre {
  line-height: 1.5 !important;
}

.wrapper pre code {
  display: none;
}

.wrapper pre code.showCode {
  display: block;
}
