.button {
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  padding: 0 10px;
  position: absolute;
  right: 20px;
  z-index: 1;
  top: 10px;
  box-shadow: 0 0 10px black;
  display: none;
  cursor: pointer;
  text-transform: uppercase;
  height: 34px;
  align-items: center;
}

.button:hover {
  background: var(--color-secondary);
  color: white;
}

@media (min-width: 768px) {
  .button {
    display: flex;
  }
}

.copyButton {
  background: var(--color-light-blue);
  border: 1px solid transparent;
}

.copyButton:hover {
  background: none;
  border: 1px solid var(--color-secondary);
  color: white;
}

.copyButton:hover span {
  background: var(--color-primary);
}

.linkToSandBox {
  background: var(--color-light-pink);
  text-decoration: none;
  line-height: 2;
  right: 115px;
}

.linkToSandBox > svg {
  display: inline-block;
  height: 20px;
  position: relative;
  margin-right: 8px;
}

.wrapper pre {
  line-height: 1.5 !important;
}

.copyIcon {
  border: 1px solid #fff;
  border-radius: 2px;
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  margin-top: -2px;
}

.copyIcon > span {
  border: 1px solid #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  background: var(--color-light-blue);
  border-radius: 2px;
  width: 14px;
  height: 14px;
  display: inline-block;
}
