.imgSection {
  display: flex;
  flex-direction: column;
}

.imgSection > img {
  border-radius: 4px;
  max-width: 100%;
  margin: 20px 0;
  box-shadow: 0 0 8px #000000;
  object-fit: cover;
}

.imgSection ul {
  min-width: 250px;
  padding-left: 0;
  margin: 0 15px 0 20px;
}

.imgSection ul > li {
  padding: 2px 0;
  font-size: 16px;
  margin-left: 0;
}

.videoWrapper {
  width: 100%;
  height: 450px;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  margin: 20px 0 40px;
}

.videoWrapper > section:first-child {
  order: 1;
}

.videoWrapper > section {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  flex-shrink: 0;
  overflow-y: hidden;
}
.videoWrapper > section > video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .imgSection {
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
  }

  .imgSection {
    max-width: 80%;
    margin: 0 0 40px;
  }

  .videoWrapper > section:first-child {
    order: 0;
  }

  .videoWrapper {
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-column-gap: 40px;
    max-width: 1100px;
    margin: 40px auto;
    overflow-y: hidden;
  }

  .videoWrapper > section > video {
    height: 400px;
    border-radius: 10px;
  }
}

@media (min-width: 1024px) {
  .videoWrapper > section > video {
    height: 450px;
  }
}
