.code {
  padding: 0 var(--space-5);
  white-space: pre-wrap;
  font-size: var(--text-sm);
  line-height: 1.6;
}

.wrapper {
  display: grid;
  min-height: 700px;
  transition: 1s all;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-column-gap: var(--space-9);
  max-width: 1440px;
  margin: var(--space-5) auto 0;
}

.demoForm {
  flex: 1;
}

.demoForm > select,
.demoForm > input,
.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: var(--radius-sm);
  padding: var(--space-1) var(--space-2);
  margin-bottom: var(--space-2);
  font-size: var(--text-base);
}

.demoForm > select:not([multiple]) {
  height: 43px;
}
