.logo {
  height: 80px;
  fill: white;
  padding: 15px;
  border: 8px solid white;
  border-radius: 20px;
  background: var(--color-light-pink);
  margin: -50px auto 0;
}

.desktopLogo {
  display: none;
  position: relative;
  height: 60px;
  padding: 8px;
  border-radius: 12px;
  background: var(--color-light-pink);
  border: 4px solid white;
  top: 10px;
  margin-right: 5px;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.videoHeading {
  text-align: center;
  font-weight: normal;
  line-height: 2;
  border-bottom: 2px solid var(--color-secondary);
  display: block;
  margin-bottom: 0;
}

.toggleGroup {
  text-align: center;
  display: none;
  border: 1px solid var(--color-light-blue);
  border-radius: 4px;
}

.toggleGroup > button {
  width: 155px;
  color: white;
  padding: 10px 25px;
  border: 1px solid transparent;
  cursor: pointer;
  background: black;
}

.toggleGroup.smallToggleGroup > button {
  width: 70px;
  color: white;
  padding: 5px 15px;
  border: 1px solid transparent;
  cursor: pointer;
  background: black;
  font-size: 14px;
}

.toggleGroup > button:hover {
  background: var(--color-secondary);
}

.toggleGroup > button:first-child {
  border-right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid var(--color-light-blue);
}

.toggleGroup > button:disabled {
  cursor: default;
  color: currentColor;
  background: transparent;
}

.toggleGroup > button:nth-child(2) {
  border-left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.video {
  width: 100%;
  border-radius: 10px;
  display: block;
  box-shadow: 0px 0 9px 0px #010817;
  background: var(--color-primary);
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s all;
}

.video:hover {
  border: 1px solid var(--color-secondary);
}

.videoWrapperShow {
  margin-bottom: 100px;
}

.videoWrapperHide {
  margin-bottom: 100px;
}

@media (min-width: 320px) {
  .logo {
    height: 120px;
  }
}

@media (min-width: 768px) {
  .logo {
    display: none;
  }

  .head {
    height: auto;
  }

  .videoHeading {
    display: none;
  }

  .desktopLogo {
    fill: white;
    display: inline-block;
  }

  .toggleGroup {
    display: inline-block;
    margin: 0 auto 50px;
  }

  .video {
    width: 700px;
    height: 400px;
    margin: 0 auto 20px;
  }

  .videoWrapperShow {
    display: block;
    margin-bottom: 0;
  }

  .videoWrapperHide {
    display: none;
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .video {
    width: 800px;
    height: 480px;
  }

  .logoHeading {
    margin-top: 70px;
  }
}

@media (min-width: 1280px) {
  .video {
    width: 980px;
    height: 600px;
  }

  .logoHeading {
    margin-top: 50px;
  }
}
