.root {
  padding: 0 var(--space-5) var(--space-10);
  position: relative;
}

.feedback {
  margin-top: var(--space-9);
}

.feedback > div {
  border-radius: var(--radius-xl);
  margin-bottom: var(--space-5);
}

.feedback svg {
  margin: 0 auto var(--space-2);
  width: 45px;
}

.feedback > div > p {
  font-size: var(--text-base);
  text-align: left;
  padding: var(--space-5) 0;
}

@media (min-width: 768px) {
  .feedback {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--space-10);
  }

  .feedback > div {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .root {
    padding: 0 var(--space-10);
  }
}
