.wrapper {
  display: grid;
  grid-gap: 20px;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.wrapper > div {
  display: none;
}

.wrapper p {
  font-size: 45px;
  font-weight: 800;
  margin-top: 160px;
  line-height: 1.4;
}

.lightWrapper p {
  background: white;
}

.wrapper h2 {
  font-size: 14px;
}

.externalComponent {
  font-size: 14px;
  border: 1px solid var(--color-secondary);
  padding: 10px 0;
  border-radius: 4px;
  margin: 20px 0;
}

.line {
  position: absolute;
  width: 1px;
  background: var(--color-blue);
  height: 44%;
  left: 50%;
  top: 30%;
  z-index: -1;
}

@media (min-width: 768px) {
  .wrapper {
    grid-gap: 40px;
    grid-template-columns: 1fr 65px 1fr;
  }

  .wrapper > div {
    display: block;
  }

  .wrapper h2 {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 10px;
  }
}
