:root {
  --secondary-color: #bf1650;
  --light-pink: #ec5990;
  --primary-color: #0e101c;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  color: #ff7aa8;
  transition: 0.3s all;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: var(--secondary-color);
  transition: 0.3s all;
  outline-width: 0;
}
a:active {
  transform: translateY(2px);
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0.67em 0;
  line-height: 1;
  color: white;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  border: none;
  border-top: 1px solid #516391;
  margin: 40px 0 60px;
  display: block;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
button:active {
  transform: translateY(2px);
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
ul {
  list-style: none;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
body {
  margin: 0;
  padding: 0;
  background-color: #081229;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 1.5;
  font-size: 0.9rem;
}

input,
select,
button {
  transition: 0.3s all;
}

input {
  border: 1px solid white;
}

select {
  min-height: 37px;
  background: white;
}

code {
  -webkit-overflow-scrolling: touch;
  white-space: pre !important;
}

textarea {
  margin-bottom: 20px;
  display: block;
  width: calc(100% - 5px);
  height: 70px;
  border: none;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

select:hover,
textarea:hover,
input:hover {
  border: 1px solid var(--light-pink);
}

input[type="submit"]:hover {
  background: var(--secondary-color);
}

input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

pre,
code {
  color: white !important;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #0f111b !important;
  line-height: 1.3;
}

blockquote {
  border-left: 10px solid #516391;
  padding-left: 20px;
  margin-left: 20px;
  font-size: 16px;
}

th {
  font-size: 0.8rem;
  text-align: left;
}

td {
  vertical-align: top;
}

h2 {
  font-weight: 500;
  font-size: 1.2rem;
}

label,
table {
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  pre {
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
  }

  pre::-webkit-scrollbar {
    height: 8px;
  }

  pre::-webkit-scrollbar-track {
    background: #191d3a;
  }

  pre::-webkit-scrollbar-thumb {
    background: #4f6294;
    border-radius: 10px;
  }

  pre::-webkit-scrollbar-thumb:hover {
    background: var(--light-pink);
  }
}

.desktopOnly {
  display: none !important;
}

@media (min-width: 1024px) {
  .desktopOnly {
    display: inline-block !important;
  }
}

a.active {
  background: var(--primary-color);
  border-bottom: 1px solid var(--secondary-color) !important;
}

@media (min-width: 1024px) {
  a.active {
    background: none;
  }
}

a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:110px;
  overflow:hidden;
  z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
  top: 20px;
  width: 110px;
  left: 160px;
  height: auto;
  overflow:auto;
  font-size: 15px;
  z-index:999;
}

.flag.icon {
  color: #fff;
  position: absolute;
  margin-left: 3px;
  margin-top: 4px;
  width: 9px;
  height: 6px;
  border-radius: 1px;
  border: solid 1px currentColor;
}

.flag.icon:before {
  content: "";
  position: absolute;
  left: -3px;
  top: -2px;
  width: 1px;
  height: 15px;
  background-color: currentColor;
}

.keyboard.icon {
  color: #fff;
  position: absolute;
  margin-left: 1px;
  margin-top: 4px;
  width: 17px;
  height: 11px;
  border-radius: 1px;
  border: solid 1px currentColor;
}

.keyboard.icon:before {
  content: "";
  position: absolute;
  left: 7px;
  top: 3px;
  width: 1px;
  height: 1px;
  border: 1px solid transparent;
  box-shadow: -2px 0 0 -1px currentColor, 2px 0 0 -1px currentColor,
    0 -2px 0 -1px currentColor, 0 2px 0 -1px currentColor,
    -6px 0 0 -1px currentColor, 6px 0 0 -1px currentColor,
    -4px -2px 0 -1px currentColor, -4px 2px 0 -1px currentColor,
    4px -2px 0 -1px currentColor, 4px 2px 0 -1px currentColor;
}

.keyboard.icon:after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 3px;
  width: 9px;
  height: 1px;
  background-color: currentColor;
}

.shutdown.icon {
  color: #fff;
  position: absolute;
  margin-top: 3px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: solid 1px currentColor;
}

.shutdown.icon:before {
  content: "";
  position: absolute;
  left: 5px;
  top: -2px;
  width: 1px;
  height: 8px;
  border-left: solid 1px white;
  background-color: currentColor;
}

.search.icon {
  color: #fff;
  position: absolute;
  margin-top: 2px;
  width: 12px;
  height: 12px;
  border: solid 1px currentColor;
  border-radius: 100%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.search.icon:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 5px;
  height: 6px;
  width: 1px;
  background-color: currentColor;
}

.edit.icon {
  color: #fff;
  position: absolute;
  margin-left: 1px;
  margin-top: 7px;
  width: 14px;
  height: 2px;
  border-radius: 1px;
  border: solid 1px currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.edit.icon:before {
  content: "";
  position: absolute;
  left: -12px;
  top: -1px;
  width: 0px;
  height: 0px;
  border-left: solid 5px transparent;
  border-right: solid 5px currentColor;
  border-top: solid 1px transparent;
  border-bottom: solid 1px transparent;
}

.eye.icon {
  color: #fff;
  position: absolute;
  margin-top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 70% 15%;
  border: solid 1px currentColor;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.eye.icon:before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid 1px currentColor;
}
