.root {
  margin: 0 20px 40px;
  padding-bottom: 40px;
}

.tagWrapper {
  display: flex;
  justify-content: flex-end;
}

.contentListLayout .tagWrapper {
  position: absolute;
  right: 0;
  top: 1rem;
}

.tag {
  display: block;
  background: white;
  width: 25px;
  border-radius: 8px;
  text-align: center;
  color: var(--color-primary);
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0;
}

.contentList {
  list-style: none;
  padding: 0;
  width: 100%;
}

.contentListLayout {
  display: flex;
  max-width: 1280px;
  gap: 0;
  margin: 0 auto;
  flex-direction: column;
}

.searchFilter {
  box-sizing: border-box;
  margin: 10px auto;
  display: flex;
  width: 100%;
  padding: 3px 20px;
  border-radius: 25px;
  font-size: 16px;
  line-height: 24px;
  max-width: 500px;
}

@media (min-width: 768px) {
  .searchFilter {
    padding: 8px 20px;
  }
}

.searchFilter:focus {
  outline: none;
  border: 1px solid var(--color-light-pink);
  cursor: default;
}

.article {
  margin-bottom: 15px;
}

.article img {
  object-fit: contain;
  height: 100px;
  width: 100%;
  border: 1px solid var(--color-light-blue);
  border-radius: 4px;
}

.article > a {
  text-decoration: none;
  color: white;
}

.article > a:hover {
  color: var(--color-secondary);
}

.article h3 {
  margin: 5px 0;
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.article p {
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

p.author {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.name {
  font-weight: 600;
}

.contentList img {
  width: 200px;
  margin: 0 auto;
  display: block;
}

.contentList img:hover {
  transition: 0.3s all ease-out;
  opacity: 0.8;
  border: 13px solid var(--color-light-blue);
}

.contentList > li {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}

.contentListLayout > li {
  list-style: none;
  position: relative;
  border-bottom: 1px solid var(--color-light-blue);
  margin-bottom: 1rem;
}

.contentList li > svg {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  fill: #091129;
}

.interests {
  list-style: none;
  padding: 0;
  margin: 0;
}

.interests > ul {
  margin: 0;
  padding: 8px 0;
  font-size: 14px;
  display: flex;
  border: 1px solid var(--color-light-blue);
  flex-direction: row;
  text-align: center;
}

.interests li {
  flex: 1;
  list-style: none;
  border-right: 1px solid var(--color-light-blue);
  font-size: 13px;
}

.interests li:last-child {
  border: none;
}

.twitter:hover > svg {
  fill: var(--color-secondary);
}

.layoutButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: -2rem;
}

@media (min-width: 768px) {
  .contentList {
    display: grid;
    max-width: 1280px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin: 0 auto;
  }

  .interests > ul {
    flex-direction: column;
    text-align: left;
    padding: 8px 20px;
  }

  .interests > ul > li {
    border-right: 0;
  }

  .contentList img {
    transition: 0.3s all ease-in;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .interests > ul {
    flex-direction: row;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .interests > ul > li {
    border-right: 1px solid var(--color-light-blue);
  }
}
