.root {
  margin: 0 20px 40px;
  padding-bottom: 40px;
}

.contentList {
  list-style: none;
  padding: 0;
  width: 100%;
}

.article {
  margin-bottom: 15px;
}

.article img {
  object-fit: contain;
  height: 100px;
  width: 100%;
  border: 1px solid var(--color-light-blue);
  border-radius: 4px;
}

.article > a {
  text-decoration: none;
  color: white;
}

.article > a:hover {
  color: var(--color-secondary);
}

.article h3 {
  margin: 5px 0;
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.article p {
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

p.author {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.name {
  font-weight: 600;
}

.contentList img {
  transition: 0.3s all ease-in;
  width: 100%;
}

.contentList img:hover {
  transition: 0.3s all ease-out;
  opacity: 0.8;
  border: 13px solid var(--color-light-blue);
}

.contentList li {
  position: relative;
  overflow: hidden;
}

.contentList svg {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  fill: #091129;
}

.interests {
  list-style: none;
  padding: 0;
  margin: 0;
}

.interests > ul {
  margin: 0;
  padding: 8px 0;
  font-size: 14px;
  display: flex;
  border: 1px solid var(--color-light-blue);
}

.interests li {
  flex: 1;
  text-align: center;
  border-right: 1px solid var(--color-light-blue);
}

.interests li:last-child {
  border: none;
}

@media (min-width: 768px) {
  .contentList {
    display: grid;
    max-width: 1280px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin: 0 auto;
  }
}
