.searchForm {
  display: flex;
  flex: 0 0 auto;
}

.searchBar {
  height: 24px;
  width: 115px;
  border-radius: 3px; 
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  z-index: 1;
}
.searchBar:focus {
  outline: none;
}

.searchButton {
  display: flex;
  background: transparent;
  border-radius: 3px;
  border: none;
  padding: 0;
  height: 24px;
  z-index: 1;
}

.searchButton:focus {
  outline: none;
  box-shadow: none;
}
.searchButton:hover {
  cursor: pointer;
}

.spyGlass {
  display: flex;
  color: white;
  align-self: center;
}

@media (max-width: 1100px) {
  .searchBar {
    height: 24px;
    width: 85px;
    border-radius: 3px; 
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    z-index: 1;
  }
}

@media (max-width: 767px) {
  .lightActionButtonWrapper {
    height: 100px;
  }

  .searchBar {
    width: 105px;
    height: auto;
    -webkit-appearance: none;
    border-radius: 3px;
  }
}