.searchForm {
  margin-right: 12px;
  position: relative;
}

.whiteText {
  color: white !important;
}

.searchBar {
  padding: 0 10px;
  width: 26px;
  border-radius: 25px;
  font-size: 16px;
  line-height: 24px;
  height: 26px;
  z-index: 1;
  cursor: pointer;
  color: var(--color-primary) !important;
}

.searchBarOpen {
  padding: 3px 14px;
  width: 150px;
}

.searchBarOpen:focus {
  outline: none;
  border: 1px solid var(--color-light-pink);
  cursor: default;
}

.icon {
  color: black !important;
  position: absolute;
  left: 7px;
  z-index: 22;
  top: 5px;
  pointer-events: none;
}

@media (min-width: 1600px) {
  .searchBar {
    width: 150px;
    padding: 3px 14px;
  }

  .icon {
    display: none;
  }
}
