.list {
  border: 1px solid var(--color-light-blue);
  padding: 14px 14px 14px 50px;
  border-radius: 4px;
  margin-bottom: 10px;
  background: var(--color-primary);
  cursor: move;
  position: relative;
  list-style: none;
}

.list > svg {
  fill: white;
  display: inline-block;
  width: 20px;
  position: absolute;
  left: 15px;
  top: 17px;
}

.editPanel {
  float: right;
}

.editPanel > button {
  position: relative;
  color: white;
  top: -2px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  padding: 1px 8px;
  background: var(--color-light-blue);
  border: 1px solid transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.editPanel > button:hover {
  background: var(--color-primary);
  border: 1px solid var(--color-secondary);
}

.editPanel > button:first-child {
  margin-right: 14px;
}

.sortableWrapper {
  margin-top: 30px;
}

.sortableWrapper > ul {
  margin-left: 0;
  padding-left: 0;
}
