.root {
  text-align: center;
  margin: 1rem 0;
  font-size: 0.8rem;
  border-top: 1px solid var(--color-black);
  padding-top: 1.5rem;
}

.heading {
  margin-bottom: 1.5rem;
  opacity: 0.7;
  font-weight: 500;
}

.root a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.root a img {
  width: 72px;
  height: 72px;
  object-fit: contain;
}

.logoGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 1rem;
}

.twicsy {
  border-radius: 10%;
}

.add {
  border: 1px solid #ccc;
  border-radius: 10%;
  font-size: 12px;
  white-space: nowrap;
  width: 72px;
  height: 72px;
}

@media (min-width: 768px) {
  .logoGroup {
    max-width: 600px;
    margin: 0 auto;
    gap: 1.5rem;
  }

  .root a img {
    width: 100px;
    height: 100px;
  }

  .add {
    height: 100px;
    width: 100px;
    padding: 0 1.5rem;
    font-size: 13px;
  }
}
