.buttonTabGroup  {
  display: grid;
  grid-auto-flow: column;
}

.buttonTabGroup > button {
  background: var(--color-primary);
  color: white;
  padding: 5px 8px 5px;
  font-size: 12px;
  border: none;
  border-top: 1px solid var(--color-secondary);
  transition: 0.3s all;
  background: black;
  text-transform: uppercase;
}

.buttonTabGroup > button:nth-child(n+2) {
  border-left: 3px solid var(--color-primary);
}

.buttonTabGroup > button:hover {
  background: var(--color-secondary);
}

.buttonTabGroup > button:disabled {
  background: var(--color-primary);
  cursor: not-allowed;
}

.lightButtonTabGroup > button {
  background: white;
  color: var(--color-black);
}

.lightButtonTabGroup > button:hover {
  color: white;
}

.lightButtonTabGroup > button:disabled {
  color: white;
}

@media (min-width: 768px) {
  .buttonTabGroup > button {
    padding: 5px 20px 5px;
  }
}
