.buttonTabGroup {
  display: grid;
  grid-auto-flow: column;
}

.buttonTabGroup > button {
  color: var(--color-text);
  background: var(--color-background);
  padding: 5px 8px 5px;
  font-size: 12px;
  border: none;
  transition: 0.3s all;
  text-transform: uppercase;
}

.buttonTabGroup > button:nth-child(n + 2) {
  margin-left: 3px;
}

.buttonTabGroup > button:hover {
  background: var(--color-secondary);
}

.buttonTabGroup > button:disabled {
  border-top: 1px solid var(--color-secondary);
  background: var(--color-primary);
  color: white;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .buttonTabGroup > button {
    padding: 5px 20px 5px;
  }
}
