.list {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list > span {
  border: 1px solid white;
  margin-right: 20px;
}

.list:hover > span {
  transition: 0.3s;
  color: var(--color-light-pink);
}

.list a {
  text-decoration: none;
}

.list:hover a {
  text-decoration: underline;
}
