/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 26px;
  z-index: 1;
  margin-right: 12px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border: 1px solid transparent;
}

.slider:before {
  position: absolute;
  content: "";
  top: 1px;
  height: 22px;
  width: 20px;
  left: 2px;
  bottom: 4px;
  background-color: var(--color-blue);
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: var(--color-light-blue);
}

input:checked + .slider:before {
  background: white;
}

input:focus + .slider {
  border: 1px solid var(--color-light-pink);
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
